* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 25px;
  background-color: #F4F4F4;
}

header {
  position: absolute;
  z-index: 2;
  padding: 20px;
  width: 100%
}

header > img {
  width: 10%;
}

main {
  width: 100%;
  height: 900px;
  margin-bottom: 100px;
}

main > div {
  width: 100%;
  height: 900px;
  display:none;
  position: absolute;
}

h1 {
  text-transform: uppercase;
  font-size: 3em;
  line-height: 1.1em;
  margin-bottom: 20px
}

.introText {
  width: 40%;
  color: #ffffff;
  margin-top: 350px;
  margin-left: 80px;
}

.introText > p {
  font-size: 1.2em;
  line-height: 1.5em
}

.overlay {
  display: block;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;

}

.slide1 {
  background: url(images/black-cat-slide.jpg) center center/cover no-repeat;
}

.slide2 {
  background: url(images/dog-slide.jpg) center center/cover no-repeat;
}

.slide3 {
  background: url(images/guinea-pig-slide.jpg) center center/cover no-repeat;
}

.slide4 {
  background: url(images/lizard-slide.jpg) center center/cover no-repeat;
}

.slide5 {
  background: url(images/parrot-slide.jpg) center center/cover no-repeat;
}


form {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

input[type=text] {
  width:50%;
  margin: 20px auto;
  padding:10px;
  font-size: 20px
}

.animalType {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.animalType input {
  margin:0;
  padding:0;
   -webkit-appearance:none;
      -moz-appearance:none;
           appearance:none;
}

.animal {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  width: 250px;
  display: inline-block;
  cursor: pointer;
}

.animal:hover {
  background-color: #D4E278
}

.reptile {
  background-image: url(images/snake-icon.png);
}

.cat {
  background-image: url(images/cat-icon.png);
}

.dog {
  background-image: url(images/dog-icon.png);
}

.smallfurry {
  background-image: url(images/mouse-icon.png);
}

.bird {
  background-image: url(images/bird-icon.png);
}


button[type=submit] {
  width:10%;
  margin: 20px auto;
  padding: 15px
}

.results {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  justify-content: space-between;
  margin: 0 auto
}

.pet {
  width: 30%;
  margin: 0 5px 40px 5px;
  background-color: #ffffff;
}

.petImage {
  height: 230px;
  width: 100%;
  /* border-radius: 50%; */
}

h2 {
  font-size: 1.5em;
  margin: 20px 15px;
}

h3 {
  margin: 20px 15px 10px;
  font-size: 1.3em
}

.petDescription > p {
  display: none;
  margin: 20px 15px;
}

.pet > p {
    margin: 0 15px;
}

.pet > p:last-of-type {
    margin-bottom:20px;
}

p {
  word-wrap: break-word
}

.clickToExpand {
  width: 100%;
  border: none;
  border-radius: 0px;
  padding: 15px;
  text-align: left;
  background-color: #A5BE00;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
}

.clickToExpand::after {
  content: ' \f078';
  font-family: "FontAwesome";
}

.active::after {
  content: ' \f077';
  font-family: "FontAwesome";
}

.active {
  background-color: #679436;
}
