* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #37323e
}

a {
  color: #de9e36;
  text-decoration: none;
}

a:hover {
  color: #9fb31b
}

header {
  position: absolute;
  z-index: 3;
  width: 100%;
  margin-top: 50px;
}

header > img {
  width: 20%;
  margin-left: 40px;
  margin-top: 20px
}

main {
  position: absolute;
  z-index: 2;
  height: 900px;
  width: 100%
}

.herosection {
  position: absolute;
  z-index: 4;
}

.introText {
  margin-top: 350px;
  margin-left: 50px;
  width:40%;
  color: #ffffff
}

h1 {
  margin-bottom: 20px;
  text-transform: uppercase;
  line-height: 1.2em;
  font-size: 2em
}

.introText p {
  font-size: 1.2em;
  margin-bottom: 40px
}

.heroButton {
  padding: 20px 25px;
  border: 2px solid #DE9E36;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.3em;
  text-transform: uppercase;
  transition: all .5s ease-in-out;
}

.heroButton:hover {
  background-color: #9fb31b;
  border: 2px solid #9fb31b;
  color: #ffffff;
}

.heroButton:after {
  content: '\f002';
  margin-left: 10px;
  margin-bottom: 10px;
  font-family: "FontAwesome";
}

.slideShow {
  height: 900px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.fullheight {
  height:100%;
  display: block!important;
}

.overlay {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%
}

.darker {
  background-color: rgba(0,0,0,0.7);
  display: block!important
}

.slide {
  position: fixed;
  display: none;
  height: 100%;
  width:100%;
  z-index: 1
}

.slide1 {
  background: url(images/black-cat-slide.jpg) center center/cover no-repeat;
}

.slide2 {
  background: url(images/dog-slide.jpg) center center/cover no-repeat;
}

.slide3 {
  background: url(images/guinea-pig-slide.jpg) center center/cover no-repeat;
}

.slide4 {
  background: url(images/lizard-slide.jpg) center center/cover no-repeat;
}

.slide5 {
  background: url(images/parrot-slide.jpg) center center/cover no-repeat;
}

.animalForm {
  padding: 40px 0;
  position: relative;
  z-index: 2;
}

form {
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 100px 30px 0 30px;
}

.formwrapper {
  background: #EAEAEA;
}

.requiredInfo {
  display: flex;
}

label > h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  text-align: left
}

input[type=text] {
  padding:15px;
  font-size: 20px;
  background-color: #ffffff;
  border: 0px;
  width: 100%;
  transition: background-color .5s ease;
  border-radius: 0;
}

.citywrapper {
  width: 50%;
  box-shadow: 0px 1px 5px 1px rgba(50,48,49,.15);
  margin-right: 10px;
}

input[type=text]:focus {
  background: url('images/line.png') bottom center repeat-x #ffffff;
  outline: none;
}

.animalType {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.animalTypeWrapper {
  /* background: linear-gradient(#DE9E36 90%,#BF892E); */
  background: #DE9E36;
  width: 100%;
  padding: 25px 0 20px
}

input[type=radio] {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  animation-duration: 1s;
  border: 0px;
  border-radius: none;
  width: 0px;
  height: 0px;
}

.radioImage {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 140px;
  width: 140px;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  animation-duration: 1.5s;
  background-color: #ffffff;
  margin: 0 10px;
  transition: all .5s ease;
  box-shadow: 0px 2px 5px 1px rgba(50,48,49,.3);
}


input:focus + .radioImage, input:checked + .radioImage {
  background-color: #ede488;
  outline: none;
}

.radioImage:hover {
  background-color: #ede488
}

.reptile {
  background-image: url(images/snake-icon.png);
}
.reptile:hover {
  background-image: url(images/snake-icon.png);
}
input:focus + .reptile, input:checked + .reptile {
  background-image: url(images/snake-icon.png);
}
.cat {
  background-image: url(images/cat-icon.png);
}
.cat:hover {
  background-image: url(images/cat-icon.png);
}
input:focus + .cat, input:checked + .cat {
  background-image: url(images/cat-icon.png);
}
.dog {
  background-image: url(images/dog-icon.png);
}
.dog:hover {
  background-image: url(images/dog-icon.png);
}
input:focus + .dog, input:checked + .dog {
  background-image: url(images/dog-icon.png);
}
.smallfurry {
  background-image: url(images/mouse-icon.png);
}
.smallfurry:hover {
  background-image: url(images/mouse-icon.png);
}
input:focus + .smallfurry, input:checked + .smallfurry {
  background-image: url(images/mouse-icon.png);
}
.bird {
  background-image: url(images/bird-icon.png);
}
.bird:hover {
  background-image: url(images/bird-icon.png);
}
input:focus + .bird, input:checked + .bird {
  background-image: url(images/bird-icon.png);
}

.stateSelect {
  padding: 15px;
  display: block;
  font-size: 20px;
  border: 0px;
}

.state {
  width: 10%;
  margin-right: 10px
}

.statewrapper {
  background-color: #ffffff;
  box-shadow: 0px 1px 5px 1px rgba(50,48,49,.15);
  position: relative;
  width: 100%;
}

.statewrapper:after {
  content: '\f078';
  font-family: "FontAwesome";
  position: absolute;
  font-size: 20px;
  bottom:12px;
  right:10px
}

.filters {
  padding: 15px 20px;
  background-color: #9fb31b;
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  transition: background-color .5s ease;
  /* border: 2px solid #de9e36; */
  border:0px;
  cursor: pointer;
  width: 20%;
  box-shadow: 0px 1px 5px 1px rgba(50,48,49,.15);
}

.filters:focus {
  outline: none;
  background: url('images/line.png') bottom center repeat-x #9fb31b;
}

.filters:hover {
  background-color: #879918;
  color: #ffffff;
}

.filters:after {
  content: ' \f078';
  margin-left: 5px;
  margin-bottom: 10px;
  font-family: "FontAwesome";
}

.showFilters:after {
  content: ' \f077';
  font-family: "FontAwesome";
}

.showFilters {
  background-color: #DD9D38;
  color: #ffffff;
}

.showFilters:focus {
outline: none;
background: url('images/line.png') bottom center repeat-x #DD9D38;
}

.showFilters:hover {
  background-color: #879918;
}

.locationFilterWrapper {
  display: flex;
  justify-content: center;
  margin: 30px auto 30px auto;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row
}

/* .morefilters {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 20px 0 0 0
} */

.sizeAgeSex {
  margin: 0 auto 30px;
  width: 81%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

select, option {
  -webkit-appearance : none; /* To gain control over the appearance on WebKit/Chromium */
-moz-appearance : none; /* To gain control over the appearance on Gecko */

/* To gain control over the appearance on and Trident (IE)
   Note that it also works on Gecko and has partial effects on WebKit */
background : none;
}

select {
  padding:10px;
  font-size: 20px;
  border: 0px;
  display: block;
  border-radius: 0px;
  width: 100%;
  color: #6D6A75
}

select:focus {
  background: url('images/line.png') bottom center repeat-x #ffffff;
  outline: none;
}

.dropdown {
  box-shadow: 0px 1px 5px 1px rgba(50,48,49,.15);
  background: #ffffff;
  position: relative;
  width: 100%;
  margin: 0 auto
}


.dropdown:after {
  content: '\f078';
  font-family: "FontAwesome";
  position: absolute;
  font-size: 20px;
  bottom:10px;
  right:10px
}

option {
  border-radius: 0px;
  background-color: #ffffff;
  top:-50px;
  position: relative;
}

.formbuttons {
  width: 100%;
  margin-bottom: 30px
}

.formbuttons > button {
  width:25%;
  padding: 20px;
  font-size: 1.1em;
  color: #ffffff;
  text-transform: uppercase;
  border: 0px;
  cursor: pointer;
  transition: background-color .5s ease;
}

.formbuttons > button:focus {
background: url('images/line.png') bottom center repeat-x #9fb31b;
outline: none
}

.submit {
  background-color: #9FB31B;
}

.submit:hover {
  background-color: #879918
}

.reset {
  background-color: #de9e36;
  display: none;
}

.reset:hover {
  background-color: #ab7929;
}


.petvetbuttons {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 60px 0 100px 0;
  flex-wrap: wrap;
  z-index: 2;
  position: relative;
}


.petvetbuttons > a {
  padding: 20px 25px;
  border: 2px solid #DE9E36;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.3em;
  text-transform: uppercase;
  transition: all 1s ease;
  /*width: 20%;*/
  margin: 0 10px
}

.petvetbuttons > a:hover {
  background-color: #9fb31b;
  border: 2px solid #9fb31b;
  color: #ffffff;
}

/*.petvetbuttons > a:first-of-type {
    margin-right: 10px
}*/

.petvetbuttons > a:first-of-type:after {
  content: '\f1b0';
  margin-left: 5px;
  margin-bottom: 10px;
  font-family: "FontAwesome";
}

.petvetbuttons > a:last-of-type:after {
  content: '\f067';
  margin-left: 5px;
  margin-bottom: 10px;
  font-family: "FontAwesome";
}

section {
  position: relative;
  z-index: 2;
}

#map {
  height: 500px;
  width:60%;
  margin: 0 auto;
}

#vetResults {
  display: none;
  width: 100%;
  padding:100px 30px;
}

/*#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}*/

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.getDirections {
  padding: 10px;
  background-color: #9fb31b;
  color: #ffffff;
  display: inline-block;
  margin-top: 5px;
}

.getDirections:hover {
  background-color: #879918;
  color: #ffffff;
}

.infowindow {
  line-height: 1.5em;
  font-size: 1.2em;
}

.infowindow > p > a {
  font-weight: bold;
}

h4 {
  color: #4885b0
}

.rating {
  color: #4885b0
}

.gotovetresultsdiv {
  display: none;
    position: fixed;
    z-index: 5;
    bottom: 50%;
    right: 0
}

.fixedVetButton {
  padding: 15px 20px;
  background-color: #de9e36;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1em;
  text-transform: uppercase;
  transition: all .5s ease;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}

.fixedVetButton:hover {
  color: #ffffff;
  background-color: #944b36;
}

.fixedVetButton:after {
  content: '\f067';
  font-family: "FontAwesome";
}

.results {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
}

.petResults {
  padding: 100px 250px;
  background: #EAEAEA;
  width: 100%;
}

.pet {
  width: 30%;
  margin: 0 5px 40px 5px;
  background-color: #f3f3f3;
  color: #333333;
  box-shadow: 0px 1px 15px 1px rgba(50,48,49,.10);
}

.pet > p > a {
  text-decoration: none;
  color: #de9e36;
  font-weight: bold;
}

.pet > p > a:hover {
  color: #9fb31b
}

.petnameandphoto {
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.petImage {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin: 0 auto 10px;
}


.petimageoverlay {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin: 0 auto 20px;
  transition: all .5s ease;
}

.petimageoverlay:hover {
  background-color: #de9e36;
  opacity: .5
}

.petnameandphoto > h2 {
  font-size: 1.3em;
  padding: 20px 15px 15px;
  color: #de9e36;
  text-transform: uppercase;
  text-align: center;
}

.petnameandphoto > h2:after {
  content: '';
  background: #9FB31B;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  height: 2px;
  width: 100px;
  margin: 0 auto;
}

h3 {
  margin: 20px 15px 10px;
  font-size: 1.3em
}

.petDescription {
  position: relative;
  width: 100%;
  border-bottom: 4px solid #de9e36;
  background-color: #ffffff;
  /*padding-bottom: 20px;*/
}

.petDescription > p {
  display: none;
  font-size: .9em;
  max-height: 200px;
  overflow-y: scroll;
  padding: 0 20px 20px;
}

/* width */
.petDescription > p::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.petDescription > p::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.petDescription > p::-webkit-scrollbar-thumb {
    background: #9FB31B;
}

/* Handle on hover */
.petDescription > p::-webkit-scrollbar-thumb:hover {
    background: #de9e36;
}

.contactBorder {
  border-top: 4px solid #de9e36;
}

.contactInfo > p {
    margin: 0 15px;
}

.contactInfo > p:last-of-type {
    margin-bottom:20px;
}

p {
  word-wrap: break-word
}

.clickToExpand {
  border: none;
  border-radius: 0px;
  padding: 15px;
  text-align: left;
  background-color: #9FB31B;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1em;
  display: block;
  margin: 0 auto 20px;
}

.clickToExpand::after {
  content: ' \f078';
  font-family: "FontAwesome";
}

.active::after {
  content: ' \f077';
  font-family: "FontAwesome";
}

.active {
  background-color: #879918;
}

.moreresults {
  margin: 0 auto;
  text-align: center
}


.moreresults > a {
  padding: 20px;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  transition: all 1s ease;
  background-color: #de9e36;
  cursor: pointer;
  display: inline-block;
}

.moreresults > a:hover {
  background-color: #ab7929;
}

.previous:before {
  content: '\f053';
  font-family: "FontAwesome";
}

.next:after {
  content: '\f054';
  font-family: "FontAwesome";
}

.hidden {
  display: none;
}

.flexDisplay {
  display: flex;
  justify-content: space-around;
}

.animalSize, .mfDiv, .animalAgeDiv {
  width: 32%;
}

.scrollbackdiv {
  display: none;
  position: fixed;
  z-index: 7;
  bottom: 40px;
  right: 20px;
}

.scrollbackdiv > a {
  background-color: #9fb31b;
  padding: 15px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50%;
  /* line-height: 1.5em; */
  font-size: 1.5em;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 60px;
  width: 60px;
  opacity: .5;
}

.scrollbackdiv > a:after {
  content: ' \f077';
  font-family: "FontAwesome";
}

.scrollbackdiv > a:hover {
  opacity: 1;
}

.required {
  background: #EC5D36;
  color: #ffffff;
  padding: 20px;
  width: 50%;
  margin: 0 auto 20px auto;
  font-size: 1.2em;
  text-transform: uppercase;
  display: none;
}

.lightboxcontainer {
  position: fixed;
  z-index: 10
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 7;
}

.close {
  position: absolute;
  z-index: 1;
  top: 2%;
  left: 85%;
  font-size: 40px;
  background-color: transparent;
  padding: 0;
  border: 0px;
  color: #ffffff;
}

.close:hover{
  color: #de9e36;
  background-color: transparent;
  padding: 0
}

.close:focus{
  color: #de9e36;
  background-color: transparent;
  padding: 0
}

.lightbox > img {
  width: auto;
  height: 550px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 1600px) {
  main, .overlay, .slide {
    height: 800px;
  }
  .introText {
    width: 60%;
  }

  form {
    width: 80%;
  }

  .radioImage {
    width: 130px;
    height: 130px
  }

  .size, .sex, .age {
    height: 80px;
    width: 80px
  }
  .formbuttons {
    width: 100%
  }
  .petResults {
    padding: 100px 50px
  }
  #map {
    width: 80%
  }
}

@media screen and (max-width: 1295px) {
  header > img {
    width: 20%;
  }
form {
  width: 100%
}
.radioImage {
  height: 100px;
  width: 100px
}
.filters {
  width: 30%
}
.sizeAgeSex {
  margin: 0 auto 30px;
  width: 100%;
  justify-content: space-around;
}
  .animalSize, .mfDiv, .animalAgeDiv {
    width: 24.5%;
  }
  .introText {
    margin-top: 250px;
  }
  #map {
    height: 400px
  }
  /*.lightbox > img {
    width: 40%;
    height: auto;
    margin-top: 50px;
  }*/
}

@media screen and (max-width: 1020px) {
  .petImage {
    width: 190px;
    height: 190px
  }
  .petimageoverlay {
    width: 190px;
    height: 190px;
  }
  .pet {
    width: 40%
  }
  .lightbox > img {
    width: 80%;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  header {
    background-color: #de9e36;
    margin-top: 0
  }
  header > img {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 30%
  }

  main {
    margin-top: 120px
  }
  main, .overlay, .slide{
    height: 100%;
  }
  .introText {
    width: 100%;
    margin-left: 0;
    padding: 20px;
    margin-top: 50px
  }
  h1 {
    font-size: 1.5em
  }
  .introText p {
    font-size: 1em;
    margin-bottom: 20px
  }
  .heroButton {
    padding: 10px 15px;
    font-size: 1em
  }
  .animalForm {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  label > h2 {
    font-size: 1.5em;
    line-height: 1.2em
  }
  .animal {
    margin-bottom: 10px
  }

  .locationFilter {
    margin-bottom: 20px
  }

  .citywrapper {
    width: 90%;
    margin: 0 0 15px 0
  }

  .state {
    width: 90%;
    margin: 0
  }

  .filters {
    width: 90%;
  }
  form {
    padding-top: 0px
  }
  .animalSize, .mfDiv, .animalAgeDiv {
    width: 90%;
  }
  select {
    margin-bottom: 10px
  }
  .formbuttons {
    width: 100%;
  }
  .formbuttons > button {
    width: 90%;
    padding: 15px;
  }

.formbuttons > button:first-of-type {
  margin-bottom: 10px
}

  .petvetbuttons > a {
    width: 100%;
  }
  .petvetbuttons > a:first-of-type {
    border-right: 2px solid #de9e36;
    border-bottom: 0px;
  }
  .petResults {
    padding: 70px 0px
  }
  .pet {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px
  }
  .fixedVetButton {
    display: none;
  }
  #vetResults {
    padding: 40px 10px
  }
  .infowindow {
    font-size: 1em;
  }
  #map {
    height: 300px
  }
}
