* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 25px;
  background-color: #F4F4F4;
}

a {
  color: #ed5e36;
  text-decoration: none;
}

a:hover {
  color: #9fb31b
}

header {
  position: absolute;
  z-index: 4;
  width: 100%
}

header > img {
  width: 15%;
  margin-left: 40px;
  margin-top: 20px
}

main {
  position: relative;
  z-index: 3;
}

main, .overlay, .slide {
  width: 100%;
  height: 900px;
}

.overlay {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 1;
  height: 100%
}

.herosection {
  position: absolute;
  z-index: 4
}

.introText {
  margin-top: 350px;
  margin-left: 50px;
  width:40%;
  color: #ffffff
}

h1 {
  margin-bottom: 20px;
  text-transform: uppercase;
  line-height: 1.2em;
  font-size: 2em
}

.introText p {
  font-size: 1.2em;
  margin-bottom: 40px
}

.heroButton {
  padding: 20px 25px;
  border: 2px solid #ed5e36;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.3em;
  text-transform: uppercase;
  transition: all 1s ease;
  animation-duration: 2.5s;
  animation-timing-function: ease;
}

.heroButton:hover {
  animation-name: colorchange;
  background-color: #4885b0;
  border: 2px solid #4885b0;
  color: #ffffff
}

.heroButton:after {
  content: '\f002';
  margin-left: 5px;
  margin-bottom: 10px;
  font-family: "FontAwesome";
}

/* Animations */

@keyframes colorchange {
  0%{background-color: #ed5e36; border: 2px solid #ed5e36}
  20%{background-color: #9FB31B; border: 2px solid #9FB31B}
  40%{background-color: #4885b0; border: 2px solid #4885b0}
  60%{background-color: #ed5e36; border: 2px solid #ed5e36}
  80%{background-color: #9FB31B; border: 2px solid #9FB31B}
  100%{background-color: #4885b0; border: 2px solid #4885b0}
}

.slide {
  position: fixed;
  display: none;
  height: 100%
}

.slide1 {
  background: url(images/black-cat-slide.jpg) center center/cover no-repeat;
}

.slide2 {
  background: url(images/dog-slide.jpg) center center/cover no-repeat;
}

.slide3 {
  background: url(images/guinea-pig-slide.jpg) center center/cover no-repeat;
}

.slide4 {
  background: url(images/lizard-slide.jpg) center center/cover no-repeat;
}

.slide5 {
  background: url(images/parrot-slide.jpg) center center/cover no-repeat;
}

.animalForm {
  padding: 100px 0;
  /* background: linear-gradient(#161616, #323031); */
  position: relative;
  z-index: 6;
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  background: #ffffff;
  padding: 100px 30px 60px 30px;
}

label > h2 {
  font-size: 2em;
  text-transform: uppercase;
  color: #366d94;
  margin-bottom: 30px
}

input[type=text] {
  width:50%;
  padding:10px;
  font-size: 20px;
  border-top: 2px solid #4885B0;
  border-bottom: 2px solid #4885B0;
  border-left: 2px solid #4885B0;
  border-right: 0px
}

.animalType {
  margin: 0 auto 20px auto;
  width: 100%;
  text-align: center;
}

input[type=radio] {
  margin:0;
  padding:0;
   -webkit-appearance:none;
      -moz-appearance:none;
           appearance:none;
           animation-duration: 1s
}


input:checked + .radioImage {
  background-color: #D4E278;
}

input:focus + .radioImage {
  background-color: #D4E278;
}

/* .animalAgeDiv > input[type=radio] {
  -webkit-appearance:radio;
     -moz-appearance:radio;
          appearance:radio;
} */

.radioImage {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  display: inline-block;
  cursor: pointer;
  border: 10px solid transparent;
  padding: 20px;
  border-radius: 50%;
  animation-duration: 1.5s;
  background-color: #ffffff;
  margin: 0 20px;
  transition: all .5s ease;
}

.size, .sex, .age {
  height: 100px;
  width: 100px
}

.radioImage:hover {
  background-color: #D3E179;
  /* border: 10px solid #4885B0; */
  /* animation-name: updownanimation; */
}
/* input[name=typeOfAnimal]:checked + .animal {
  border: 10px solid #9FB31B;
  animation-name: updownanimation;
} */

/* @keyframes updownanimation {
  0%, 100%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
} */

@keyframes updownanimation {
  0%, 70%, 100% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	30% {
		-webkit-transform: translateY(-20px);
		-ms-transform:     translateY(-20px);
		transform:         translateY(-20px)
	}
}

.reptile {
  background-image: url(images/snake-icon.png);
}

.cat {
  background-image: url(images/cat-icon.png);
}

.dog {
  background-image: url(images/dog-icon.png);
}

.smallfurry {
  background-image: url(images/mouse-icon.png);
}

.bird {
  background-image: url(images/bird-icon.png);
}

.filters {
  padding: 15px 20px;
  background-color: #ffffff;
  color: #ED5E36;
  text-decoration: none;
  font-size: 1.1em;
  text-transform: uppercase;
  transition: all .5s ease;
  border: 2px solid #ED5E36;
  cursor: pointer;
}

.filters:hover {
  background-color: #ED5E36;
  color: #ffffff;
}

.filters:after {
  content: ' \f078';
  margin-left: 5px;
  margin-bottom: 10px;
  font-family: "FontAwesome";
}

.showFilters:after {
  content: ' \f077';
  font-family: "FontAwesome";
}

.showFilters {
  background-color: #ED5E36;
  color: #ffffff;
}

.locationFilter {
  display: flex;
  justify-content: center;
  margin: 0 auto 60px auto;
  width: 80%;
  flex-wrap: wrap
}

.sizeAgeSex {
  margin: 0 auto;
}

.small {
  background-image: url(images/small.png)
}

.medium {
  background-image: url(images/medium.png)
}

.large {
  background-image: url(images/large.png)
}

.extralarge {
  background-image: url(images/extralarge.png)
}

.female {
  background-image: url(images/female.png)
}

.male {
  background-image: url(images/male.png)
}


.baby {
  background-image: url(images/baby.png)
}

.young {
  background-image: url(images/young.png)
}

.adult {
  background-image: url(images/adult.png)
}

.senior {
  background-image: url(images/senior.png)
}

.formbuttons > button {
  width:25%;
  padding: 20px;
  font-size: 1.1em;
  color: #ffffff;
  text-transform: uppercase;
  border: 0px;
  cursor: pointer;
  transition: all .5s ease;
}

.formbuttons > button:hover {
  background-color: #ED5E36
}

.formbuttons {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 40px auto
}

.submit {
  background-color: #9FB31B;
}

.reset {
  background-color: #4885B0;
  display: none;
}

.petvetbuttons {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 100px 20px 15px;
  flex-wrap: wrap;
}

.petvetbuttons > a {
  padding: 15px 20px;
  background-color: #ffffff;
  color: #ED5E36;
  text-decoration: none;
  font-size: 1.1em;
  text-transform: uppercase;
  transition: all .5s ease;
  width: 20%;
  border: 2px solid #ED5E36;
  cursor: pointer;
}

.petvetbuttons > a:hover {
  background-color: #ED5E36;
  color: #ffffff;
}

.petvetbuttons > a:first-of-type {
    border-right:0px;
}

.petvetbuttons > a:first-of-type:after {
  content: '\f1b0';
  margin-left: 5px;
  margin-bottom: 10px;
  font-family: "FontAwesome";
}

.petvetbuttons > a:last-of-type:after {
  content: '\f067';
  margin-left: 5px;
  margin-bottom: 10px;
  font-family: "FontAwesome";
}

section {
  position: relative;
  z-index: 6;
}

#map {
  height: 600px;
  width:100%;
  margin: 0 auto;

}

#vetResults {
  display: none;
}

#vetResults > h2 {
}


#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.infowindow {
  line-height: 1.5em;
  font-size: 1.2em;
}

.infowindow > p > a {
  font-weight: bold;
}

h4 {
  color: #4885b0
}

.rating {
  color: #4885b0
}

.gotovetresultsdiv {
  display: none;
    position: fixed;
    z-index: 5;
    bottom: 50%;
    right: 0
}

.fixedVetButton {
  padding: 15px 20px;
  background-color: #ED5E36;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1em;
  text-transform: uppercase;
  transition: all .5s ease;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}

.fixedVetButton:hover {
  color: #ffffff;
  background-color: #944b36;
}

.fixedVetButton:after {
  content: '\f067';
  font-family: "FontAwesome";
}

.results {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
}

.petResults {
  padding: 100px 250px;
  background: #EAEAEA;
  /* background: linear-gradient(#1d5073, #ed5e36); */
   /* background: url(images/linebackground.jpg) repeat; */
  /* background: url(images/furbackground.jpg) repeat; */
  width: 100%;
}

.pet {
  width: 30%;
  margin: 0 5px 40px 5px;
  background-color: #ffffff;
  color: #333333;
}

.pet > p > a {
  text-decoration: none;
  color: #ed5e36;
  font-weight: bold;
}

.pet > p > a:hover {
  color: #9fb31b
}

.petImage {
  height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: 20px auto;

}


.petimageoverlay {
  height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: 20px auto;
    transition: all .5s ease;
}

.petimageoverlay:hover {
  background-color: #ed5e36;
  opacity: .5
}

/* .petImage:hover {
  opacity: .5;
} */

/* .petImage:before {
  height: 250px;
  width: 250px;
  position: absolute;
  border-radius: 50%;
  background-color: #ed5e36;
  content: '';
  top: 0;
  display: none;
}

.petImage:hover:before {
  display: block;
} */

.petnameandphoto > h2 {
  font-size: 1.5em;
  padding: 20px 15px;
  background-color: #679436;
  color: #ffffff;
  text-transform: uppercase
}

h3 {
  margin: 20px 15px 10px;
  font-size: 1.3em
}

.petDescription {
  position: relative;
  width: 100%;
}

.petDescription > p {
  display: none;
  margin: 20px 15px;
  font-size: 1em;
  max-height: 200px;
  overflow-y: scroll;
  padding:20px 15px 20px 20px;
}

/* width */
.petDescription > p::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.petDescription > p::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.petDescription > p::-webkit-scrollbar-thumb {
    background: #4884AF;
}

/* Handle on hover */
.petDescription > p::-webkit-scrollbar-thumb:hover {
    background: #366d94;
}

.pet > p {
    margin: 0 15px;
}

.pet > p:last-of-type {
    margin-bottom:20px;
}

p {
  word-wrap: break-word
}

.clickToExpand {
  width: 100%;
border: none;
border-radius: 0px;
padding: 15px;
text-align: left;
background-color: #9FB31B;
color: #ffffff;
cursor: pointer;
text-transform: uppercase;
font-size: 1em;
/* top: 0; */
/* z-index: 10; */
display: block;
}

.clickToExpand::after {
  content: ' \f078';
  font-family: "FontAwesome";
}

.active::after {
  content: ' \f077';
  font-family: "FontAwesome";
}

.active {
  background-color: #679436;
}

.moreresults {
  margin: 0 auto;
  text-align: center
}


.moreresults > button {
  padding: 20px;
  border: 2px solid #ed5e36;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  transition: all 1s ease;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  background-color: #ed5e36
}

.moreresults > button:hover {
  animation-name: colorchange;
  background-color: #4885b0;
  border: 2px solid #4885b0
}

.previous:before {
  content: '\f053';
  font-family: "FontAwesome";
}

.next:after {
  content: '\f054';
  font-family: "FontAwesome";
}

.hidden {
  display: none;
}

.flexDisplay {
  display: flex;
  justify-content: space-around;
}

.animalSize, .mfDiv, .animalAgeDiv {
  float: left;
  margin: 0 auto;
  padding: 0 20px;
}

.sizeAgeSex > div > .radioImage {
    margin: 0 5px;
    border-width: 5px;
}

input:checked + .sizeAgeSex > div > .radioImage {
  border-width: 5px
}

.sizeAgeSex > div > .radioImage:hover {
  border-width: 5px
}

.scrollbackdiv {
  display: none;
  position: fixed;
  z-index: 5;
  bottom: 40px;
  right: 20px;
}

.scrollbackdiv > a {
  background-color: #9fb31b;
  padding: 15px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50%;
  /* line-height: 1.5em; */
  font-size: 1.5em;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 60px;
  width: 60px;
  opacity: .5;
}

.scrollbackdiv > a:after {
  content: ' \f077';
  font-family: "FontAwesome";
}

.scrollbackdiv > a:hover {
  opacity: 1;
}

.required {
  background: #EC5D36;
  color: #ffffff;
  padding: 20px;
  width: 50%;
  margin: 0 auto 20px auto;
  font-size: 1.2em;
  text-transform: uppercase;
  display: none;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 5;
}

.close {
  position: absolute;
  z-index: 1;
  top: 2%;
  left: 85%;
  font-size: 40px;
  background-color: transparent;
  padding: 0;
  border: 0px;
  color: #ffffff;
}

.close:hover{
  color: #ed5e36;
  background-color: transparent;
  padding: 0
}

.close:focus{
  color: #ed5e36;
  background-color: transparent;
  padding: 0
}

.lightbox > img {
  width: auto;
  height: 550px;
  position: absolute;
margin: auto;
top: 0;
left: 0;
right: 0;
bottom: 0;
}

@media screen and (max-width: 1600px) {
  main, .overlay, .slide {
    height: 800px;
  }
  .introText {
    width: 60%;
  }
  .radioImage {
    width: 180px;
    height: 180px
  }

  .size, .sex, .age {
    height: 80px;
    width: 80px
  }
  .formbuttons {
    width: 70%
  }
  .petResults {
    padding: 100px 50px
  }
  .petvetbuttons > a {
    width: 50%;
  }
}

@media screen and (max-width: 1199px) {
  header > img {
    width: 20%;
  }
  main, .overlay, .slide{
    height: 700px;
  }
  .animalSize, .mfDiv, .animalAgeDiv {
    float: none;
  }
  .introText {
    margin-top: 250px;
  }
  .size, .sex, .age {
    height: 100px;
    width: 100px
  }
  #map {
    height: 400px
  }
  .lightbox > img {
    width: 40%;
    height: auto;
    margin-top: 50px;
  }
}

@media screen and (max-width: 1020px) {
  .petImage {
    width: 190px;
    height: 190px
  }
  .pet {
    width: 40%
  }
}

@media screen and (max-width: 767px) {
  header {
    position: relative;
    background-color: #ed5e36
  }
  header > img {
    width: 40%;
    margin-left: 20px;
    margin-bottom: 20px
  }
  main, .overlay, .slide{
    height: 450px;
  }
  .introText {
    width: 100%;
    margin-left: 0;
    padding: 20px;
    margin-top: 50px
  }
  h1 {
    font-size: 1.5em
  }
  .introText p {
    font-size: 1em;
    margin-bottom: 20px
  }
  .heroButton {
    padding: 10px 15px;
    font-size: 1em
  }
  .animalForm {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  label > h2 {
    font-size: 1.5em;
    line-height: 1.2em
  }
  .animal {
    margin-bottom: 10px
  }

  .locationFilter {
    margin-bottom: 20px
  }

  input[type=text] {
    border-right: 2px solid #4885B0;
    border-bottom: 0px;
    width: 100%;
  }
  .filters {
    width: 100%;
  }
  .animalSize, .mfDiv, .animalAgeDiv {
    float: none;
  }
  .formbuttons {
    width: 100%;
    margin-top: 20px
  }
  .formbuttons > button {
    width: 40%
  }
  .petvetbuttons > a {
    width: 100%;
  }
  .petvetbuttons > a:first-of-type {
    border-right: 2px solid #ED5E36;
    border-bottom: 0px;
  }
  .petResults {
    padding: 70px 0px
  }
  .pet {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px
  }
  .fixedVetButton {
    display: none;
  }
  #map {
    height: 300px
  }
}
